@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
* {
  font-family: roboto;
  /* overflow-x: hidden; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.headerIcon {
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
}
.headerSearch {
  display: flex;
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
  padding: 1rem;
}
.headerSearchInput {
  all: unset;
  /* margin-left: 8px; */
  font-size: 14px;
}
.headerSearchItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.headerSearchInput::placeholder {
  font-size: 14px;
}
.headerSearchIcon {
  color: #ef4444;
}
.headerSeperator {
  /* display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #94a3b8;
  margin: 0 1.3rem; */
  display: none;
}
@media screen and (max-width: 620px) {
  .headerSeperator {
    margin: 0;
  }
}
.headerCalendarIcon {
  color: #0c4a6e;
}
.dateDropDown {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.optionDropDown {
  font-size: 0.8rem;
}
.headerSearchBtn {
  color: #0c4a6e;
}

.guestOptions {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2rem;
  width: 200px;
  z-index: 1000;
}
.guestOptionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.guestOptionItem:not(:last-child) {
  margin-bottom: 1rem;
}
.guestOptionItem span,
.guestOptionItem button {
  display: inline-block;
}
.guestOptionItem .optionCounterBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}
.optionText {
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.date {
  position: absolute;
  top: 50px;
  left: -5rem;
  z-index: 1002;
}
.progressBar {
  display: flex;
  justify-content: center;
}
.circularProgressBar {
  margin-top: 1.5rem;
}
.nearbyLocation {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
}
.nearbyLocation h2 {
  margin-bottom: 1rem;
  color: #0c4a6e;
}
.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 500px) {
}
.locationItem img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.locationItemDesc > :not(:last-child) {
  margin-bottom: 0.2rem;
}

.locationItem .locationItemDesc .name {
  color: var(--text-400);
}
.locationItem .locationItemDesc .location {
  font-weight: 500;
}
.locationItem .locationItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #0c4a6e;
}

.locationItem .locationItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}
.room {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

.roomDetail h2 {
  margin: 0.6rem 0;
  font-size: 1rem;
}
.roomDetail > div {
  margin-bottom: 1rem;
}
.roomDetail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
}

/* map */
.mapWrapper {
  width: 50%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}
.mapContainer {
  flex: 1;
  background-color: var(--text-100);
  position: relative;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.mapContainer button.getLocation {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #0c4a6e;
  box-shadow: 0 0 10px #0c4a6e;
  color: #fff;
  z-index: 1000;
}
.map {
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.searchList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchList .searchItem {
  display: flex;
  gap: 1rem;
}
.searchList .searchItem img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}
.searchItem .searchItemDesc p {
  margin-bottom: 0.3rem;
}
.searchItem .searchItemDesc .name {
  color: var(--text-400);
}
.searchItem .searchItemDesc .location {
  font-weight: 500;
}
.searchItem .searchItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.searchItem .searchItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

/* app layout */
@media screen and (max-width: 500px) {
  .appLayout {
    flex-direction: column;
  }
}
.appLayout {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 130px);
  align-items: stretch;
  width: 100%;
  max-width: 1300px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  width: 50vw;
  overflow-y: scroll;
  padding-right: 1rem;
}

.searchItem.current-hotel {
  /* border-bottom: 3px solid #0c4a6e; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;
}
.searchList a:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 50%;
  }
}

/* bookmark page */
.bookmarkList {
  margin-top: 1rem;
}
.bookmarkItem {
  margin-bottom: 1rem;
  border: 1px solid #0c4a6e;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarkList .bookmarkItem.current-bookmark {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.currentBookmark h2 {
  margin: 1rem 0;
}

.bookmarkItem .trash {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}

/* form */

.form .formControl {
  margin-bottom: 1rem;
  position: relative;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}

.formControl input {
  border: 1px solid var(--text-400);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: #0c4a6e;
  color: #fff;
}

.btn--back {
  border: 1px solid var(--text-400);
}

.formControl .flag {
  position: absolute;
  right: 0.5rem;
  top: 50%;
}

a.active {
  color: var(--primary-600);
  font-weight: 700;
}

.loginContainer {
  margin: 2rem auto;
  width: 300px;
  border: 1px solid var(--text-300);
  padding: 1rem;
  border-radius: 1rem;
}

.loginContainer button {
  width: 100%;
}

.loginContainer h2 {
  margin-bottom: 1rem;
}

.icon.logout {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}
.roomAvailabilities {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.back-btn {
  font-size: 2rem;
  border-bottom: 3px dotted #0c4a6e;
}
.back-btn:hover {
  color: #ef4444;
  cursor: pointer;
}
.singleBookmarkDetail {
  font-size: 14px;
}
.singleBookmark {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.delete-btn {
  color: #ef4444;
  font-size: 1.5rem;
}
.bookmarkIcon,
.homeIcon,
.userIcon {
  color: #0c4a6e;
}
.userLogout {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout-icon {
  color: #ef4444;
}
/* responsiveness */
@media screen and (max-width: 620px) {
  .headerSearch {
    height: 80px;
  }
  .headerSearchItems {
    display: flex;
    justify-content: space-between;
    width: 14%;
    align-items: center;
  }
  .headerSeperator {
    display: none;
  }
  .dateDropDown {
    display: none;
  }
  .optionDropDownDetails {
    display: none;
  }
  .userName {
    display: none;
  }
  .headerSearchInput {
    display: none;
  }
  .openSearchInput {
    position: relative;
    right: 20px;
  }
  .openSearchInput::placeholder {
    font-size: 0.7rem;
  }
  .headerSearchItems:last-of-type {
    margin-right: -1rem;
  }
  .mapWrapper {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  .mapContainer{
    border-radius: 20px;
  }
  .appLayout {
    display: flex;
    flex-direction: column;
    /* width: 100vw;
    padding: 1rem;
    align-items: center; */
  }
  .sidebar {
    width: 100%;
    height: 50%;
    padding: 0.2rem;
    display: flex;
    border-radius:  10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px;
  }
  .room {
height: 100%;
justify-content: center;
  }
  .leaflet-container{
    border-radius: 20px;
  }
  .currentBookmark{
    box-shadow: none;
  }
  .roomDetail{
    width: 100%;
  }
  .roomDetail img{
    height: 70%;
    max-width: 610px;
    margin: 0;
  }
  .sidebar div,div form{
width: 100%;
  }
  .sidebar div{
padding: 0.45rem;
  }
  .sidebar div .bookmarkList{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .sidebar div .bookmarkList a .bookmarkItem{
    height: 50px;
    border-color: #ebe9e9;
    border-radius: 10px; 
    padding: 0 1rem;
  }
  .singleBookmark div{
display: flex;
flex-direction: column;
align-items: center;
  }
  .userLogout{
    width: 100%;
  }
}
.openSearchInput {
  display: block;
}
.openInput {
}
.optionDropDown {
  display: flex;
  align-items: center;
}
.optionsIcon {
  margin-right: 1rem;
  color: #0c4a6e;
  font-size: 1.2rem;
}
canvas{
  display: none;
  }
.container :first-child{
}